body {
    background-color: lightgray;
}

#header2 {
    background-color: orangered;
    border: 2px solid gray;
    text-align: center;
    margin: 10px auto;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    width: 30%;
}